@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar bg-dark">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<style>



    .sidebar {
        background-image: linear-gradient(180deg, #825B32 0%, #A28B55 70%) !important;
    }

</style>
