<div style="background: #577590 !important" class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AccesoriosApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" style="background:#577590 !important;" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex gap-2" href="accesorios"> <i class="fa-regular fa-gem"></i> Accesorios</NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex gap-2" href="tipodeaccesorios"><i class="fa-solid fa-list"></i>  Tipos de accesorios</NavLink>
        </div>
    </nav>
</div>

