/*.image-container {
    display: flex;
    justify-content: space-between;
    height: 70%;
    background-color: #B99470;*/ /* Color de fondo */
/*}

.login-left {
    width: 50%;
    position: relative;
    background: #fff;*/ /* Fondo blanco */
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.side-image {
    max-width: 100%;
    height: 70%;
    border-radius: 15px;
}

.welcome-text {
    margin-top: 20px;
}

    .welcome-text h1 {
        font-family: 'Arial', sans-serif;
        color: #6A9C89;
        font-size: 2rem;
    }

    .welcome-text p {
        font-size: 1.2rem;
        color: #CD5C08;
    }

.login-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

    .login-form h2 {
        font-size: 2rem;
        color: #B99470;
        margin-bottom: 10px;
    }

    .login-form p {
        color: #555;
    }

.btn-primary {
    background-color: #825B32;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}

    .btn-primary:hover {
        background-color: #B99470;
    }*/


/* Contenedor de pantalla completa con margen superior */
.full-screen {
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea hacia la parte superior */
    margin-top: 60%; /* Ajusta este valor para bajar el cuadro */
}

/* Contenedor principal */
.image-container {
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid #DEE5D4;
    border-radius: 50px;
}

/* Sección derecha (formulario de inicio de sesión) */
.login-right {
    padding: 60px;
}

/* Imagen lateral */
.side-image {
    object-fit: cover;
    height: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
