@page "/accesorios/eliminar"
@using AccesoriosApp.DTOs
@using AccesoriosApp.Services
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@inject AccesorioService accesorioService


<h3>Eliminar Accesorio</h3>

@code{

}

