@page "/"
@using AccesoriosApp.DTOs
@using AccesoriosApp.Services

<PageTitle>Login</PageTitle>

<EditForm Model="userDTO" OnValidSubmit="Login">
    <div class="mb-3">
        <label class="form-label">Nombre de usuario</label>
        <InputText @bind-Value="userDTO.login" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Contrasena de usuario</label>
        <InputText @bind-Value="userDTO.clave" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Iniciar sesion</button>

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="mt-3 alert alert-danger">@errorMessage</div>
    }
</EditForm>

@inject AuthServices authServices;
@inject NavigationManager navigationManager;
@code{
    private AuthDTO userDTO = new AuthDTO();
    private string errorMessage;

    private async Task Login()
    {
        var token = await authServices.Login(userDTO);

        if (string.IsNullOrEmpty(token.token))
        {
            errorMessage = "Credenciales incorrectas";
            return;
        }

        await authServices.SetToken(token.token);
        navigationManager.NavigateTo("/weather");
    }
}